.DS_Store
.vscode/
.vs/
*.code-workspace
obj/
basic/basic
standard/standard
arcadia/arcadia
fracas/fracas
kingdoms/kingdoms
havilah/havilah
havilah/html/havilah.html
neworigins/neworigins
neworigins/html/neworigins.html
neworigins_v2/neworigins_v2
neworigins_v2/html/neworigins.html